# Configuración de MongoDB
# Usa tu propia conexión string de MongoDB Local o Atlas
MONGODB_URI=mongodb://localhost:27017/ecommerce_fotografias
# O para MongoDB Atlas:
# MONGODB_URI=mongodb+srv://usuario:contraseña@cluster.mongodb.net/ecommerce_fotografias

# Configuración del Servidor
PORT=8080
NODE_ENV=development
